body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    overflow: hidden;
    background-image: url("./img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Create a semi-transparent overlay */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 42, 42, 0.5);
    /* Adjust the alpha value (0 to 1) for the desired level of grayness */
}

.heart-container {
    position: absolute;
    animation: heartbeat-container 1s infinite;
}

.heart {
    font-size: 100px;
    position: relative;
    animation: heartbeat 2s infinite, rotateHeart 8s infinite;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart span {
    position: absolute;
    color: white;
    font-family: "Pacifico", cursive;
}

/* Bigger black heart */
.border-heart-1 {
    font-size: 300px;
    /* color: black; */
    position: absolute;
    top: -5px;
    /* Adjust positioning to be behind the main heart */
    left: -3px;
    /* Adjust positioning to be behind the main heart */
    z-index: -1;
    /* Place the black heart behind the main heart */
    animation: heartbeat 2s infinite, rotateHeart 8s infinite;
    /* Use the same animation as the smaller heart */
}

.border-heart-2 {
    font-size: 300px;
    /* color: black; */
    position: absolute;
    top: -5px;
    /* Adjust positioning to be behind the main heart */
    right: -7px;
    /* Adjust positioning to be behind the main heart */
    z-index: -2;
    /* Place the black heart behind the main heart */
    animation: heartbeat 2s infinite, rotateHeart 8s infinite;
    /* Use the same animation as the smaller heart */
}

#startButton {
    border: none;
    background-color: rgb(243, 141, 158);
    color: white;
    font-size: 28px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton::before {
    content: "\2665";
    font-size: 40px;
    position: relative;
    top: -10px;
    left: -5px;
}

@keyframes heartbeat-container {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotateHeart {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ig card style */
.gift-card-container {
    position: relative;
    /* Set the position to relative */
    z-index: 999;
    /* Set a high z-index value */
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gift-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gift-card-content {
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.gift-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #ff4d4d;
    font-family: "Pacifico", cursive;
    margin-bottom: 5px;
}

.gift-card-description {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.gift-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.gift-card-likes,
.gift-card-comments {
    display: flex;
    align-items: center;
    gap: 5px;
}

.heart-icon,
.comment-icon {
    width: 20px;
    height: 20px;
    fill: #ff4d4d;
}

.likes-count,
.comments-count {
    font-size: 14px;
    color: #333;
}

/* audio control style */
audio {
    width: 100%;
    border-radius: 6px;
    outline: none;
    margin-bottom: 20px;
}

.audio-button {
    width: 40px;
    height: 40px;
    background-color: #f44336;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
}

.cloud {
    width: 100px;
    /* Adjust the width of the cloud image as needed */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: cloudMove linear infinite;
}

@keyframes cloudMove {
    from {
        left: 100%;
    }

    to {
        left: -100px;
    }
}